<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroAnt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/star-wars');
    </style>

</head>

<body class="m-0 p-0 overflow-x-hidden overflow-y-auto">
    <div class="navbar">
        <h2 style="font-family: 'Star Wars', sans-serif;" class="fs-2">NeuroAnt</h2>
        <span class="ms-auto d-sm-none d-md-block d-none d-sm-block" style="font-family: 'Star Wars', sans-serif;">Simulation of developing organic life in a space
            environment</span>
    </div>

    <div class="main-section container">
        <div class="row align-items-center mt-2 mb-5">
            <div class="col-md-6 mt-5">
                <div class="d-flex justify-content-center mb-4">
                    <img src="./resources/logo.png" style="height: 160px;" alt="logo">
                </div>
                <p class="main-text">NeuroAnt offers a new method for analyzing the development of organic matter in
                    difficult conditions, using a principle inspired by "Langton's Ant". NeuroAnt uses artificial
                    intelligence to analyze and correct the process. If the experiment fails,
                    the system changes the initial conditions and tries again. With each re-simulation, the algorithm
                    improves the conditions to increase the chances of success.</p>
                <div class="d-flex justify-content-sm-center mt-4">
                    <a href="/ant" class="btn btn-start mb-4 d-flex justify-content-center">Start</a>
                </div>

            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-4 d-flex justify-content-end d-sm-none d-md-block d-none d-sm-block">
                <img src="/resources/langton-ant.png" alt="Langton's ant">
            </div>
        </div>
    </div>


    <!--About UsS-->
    <div class="about-section">
        <h3 style="font-family: 'Star Wars', sans-serif;">About Us</h3>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col">
            <div class="card">
                <img src="../avatars/viki.png" class="card-img-top" alt="viki">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Viki</h5>
                    <p class="card-text">I am Victoria Novikova, and I graduated from the "Acad. Ivan Gyuzelev"
                        University of Applied Sciences in Gabrovo, also known as the city of laughter. There I graduated
                        as a system programmer, and now I am studying at Plovdiv University "Paisiy Hilendarski,"
                        majoring in software technologies and design. I love reading books and watching different movies
                        and series (mainly fantasy and action), and that is where my passion for developing video games
                        comes from. My dream is to one day work as a game designer and to be able to develop my own
                        game. I also have skills in the field of web development and design.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/avatars/lucho.png" class="card-img-top" alt="lucho">
                <div class="card-body">
                    <h5 class="card-title">Lucho</h5>
                    <p class="card-text">My name is Lachezar Lalev, and I am studying at Plovdiv University "Paisiy
                        Hilendarski," majoring in Software Technologies and Design. I previously graduated from "Acad.
                        Ivan Gyuzelev" University of Applied Sciences in Gabrovo as a system programmer. My strong
                        points are front-end development, but I am also trying to get the hang of back-end too. I am
                        constantly trying to improve myself and my skills.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/avatars/gosho.png" class="card-img-top" alt="gosho">
                <div class="card-body">
                    <h5 class="card-title">Gosho</h5>
                    <p class="card-text">I am 11th grade PPMG "Nikola Obreshkov," city of Kazanlak. I want to study
                        computational physics. In my free time I program, and when I have a little time left between
                        programming and school (where I program), I program.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/avatars/misho.png" class="card-img-top" alt="misho">
                <div class="card-body">
                    <h5 class="card-title">Misho</h5>
                    <p class="card-text">My hometown is Kazanluk. I am a 3rd-year software engineering student at Sofia
                        University. Special interest in technological innovations and entrepreneurship. I love sports,
                        game development, and communication with people.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/avatars/slavi.png" class="card-img-top" alt="slavi">
                <div class="card-body">
                    <h5 class="card-title">Slavi</h5>
                    <p class="card-text">I'm Slavi, from Kazanlak, the city of roses. I'm interested in doing
                        business-related things. In my free time, I go to the gym. I'm sociable. If anyone is reading
                        this and looking for interns, I want them to know that my mission for the weekend is to find
                        internships for my friends.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/avatars/niki.png" class="card-img-top" alt="niki">
                <div class="card-body">
                    <h5 class="Niki">Niki</h5>
                    <p class="card-text">I am Nikola Zarov from Kazanlak. I graduated from the art high school with a
                        degree in design, and now I am studying programming at the NBU. I like to follow the latest
                        developments in technology, phones, and sports, and in the future I want to do what I am
                        studying.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>